https://github.com/yt-dlp/yt-dlp/archive/master.tar.gz
pyinstaller
ytmusicapi>=1.6.0
hachoir==3.3.0
Pillow==12.1.1
pillow-heif==1.3.0
py7zr==1.1.0
rarfile==4.2
fonttools==4.62.1
brotli==1.2.0
better-ffmpeg-progress==4.0.1