name: Build Pulsar Bridge

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            artifact_name: pulsar-bridge-linux
            exe_name: pulsar-bridge
          - os: windows-latest
            artifact_name: pulsar-bridge-windows.exe
            exe_name: pulsar-bridge.exe
          - os: macos-latest
            artifact_name: pulsar-bridge-macos
            exe_name: pulsar-bridge

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r Pulsar-Bridge/requirements.txt

    - name: Build with PyInstaller
      run: |
        pyinstaller --clean --onefile --name ${{ matrix.exe_name }} Pulsar-Bridge/main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: dist/${{ matrix.exe_name }}